
body {
    background-color: pink;
    background-image: url("./images/Background.png"); 	
    background-repeat: no-repeat; 	
    background-size: cover;
    min-width: 100%; 	
    min-height: 100%;

}


li a {
    color: green;
}

